
/* Application Styles */
body {
  color: #000;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1em;
  line-height: 1.1;
}

.super-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
}

.wrap {
  max-width: 500px;
  margin: 0 auto 250px;
  padding: 30px;
  font-size: 2rem;
  font-weight: 800;
  text-transform: uppercase;
}

.info {
  position: absolute;
  bottom: 10px;
  right: 30px;
  color: #777777;
  font-size: 0.75rem;
  text-align: right;
  line-height: 1.5;
}

h1 {
  margin:  0 0 30px;
  font-size: 3rem;
}

a {
  cursor: pointer;
  color: #000;
  text-decoration: none;
}

p {
  margin-bottom: 30px;
}

small,
.small {
  display: block;
  margin-bottom: 20px;
  margin-top: 10px;
  font-size: 50%;
}

/* Styles for Larger Screens */
@media(min-width: 768px) {
  .wrap {
    max-width: 900px;
    font-size: 2.75rem;
  }

  h1 {
    font-size: 4rem;
  }

  a:hover {
    text-decoration: underline;
  }
}